<?xml version="1.0" encoding="utf-8"?>
<module>
    <assemblies>
      <add assembly="SampleSite" />
      <!-- This adds the MultipleDropdownProperty assembly to the "default module" -->
      <add assembly="MultipleDropdownProperty" />
    </assemblies>
    <clientResources>
        <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
    </clientResources>
    <dojo>
        <paths>
          <add name="alloy" path="Scripts" />
          <!-- Add a mapping from module name "multipledropdownproperty" to "MultipleDropDown" sub folder of ~/ClientResources/ folder -->
          <add name="multipledropdownproperty" path="MultipleDropDown" />
        </paths>
    </dojo>
  <clientModule initializer="multipledropdownproperty.scripts.moduleinitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
    </requiredResources>
  </clientModule>
</module>
